doctype html
html
  head
    title Gestão de Avaliação de UCs
    meta(charset='UFT-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='w3-container')
    block content
