extends layout

block content
  .main.container.row
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2 Edit your profile

      // register form
      form(method='POST' action='/editprofile')
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', name='name')
        div.form-group
          label(for='gender') Gender:
          select(type="text", class="form-control" name="gender")
            option(selected disabled) Please select a gender
            option(value="Male") Male
            option(value="Female") Female
        div.form-group
          label(for='address') Address:
          input#name.form-control(type='text',  name='address')
        div.form-group
          label(for='profession') Profession:
          input#name.form-control(type='text',  name='profession')
        div.form-group
          label(for='cnumber') Cellphone Number:
          input#name.form-control(type='number', name='cnumber')
        button.btn.btn-primary(type='submit' class='btn-block btn-primary') Confirm changes
      form(method='GET' action='/profile')
        button.btn.btn-secondary(type='submit' class='btn-block btn-danger') Discard changes