extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h3.display-4.m-b-2 News
    .row
      .col-lg-3.col-sm-12.left
        div
          nav
            p Hot
            p Trending
            p Fresh
      .col-lg-6.col-sm-12.right
        article
          // p This is a publication. It has lots of text. aDAFASDASfadfsangfkabnwhrfhsdlfhabdfbadhbfasdb
          each val in post
            h5 #{val}