extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p DigitalMe is a new way to share your thoughs and posts on the web.

        a.btn.btn-info-outline.btn-lg(href='/register') Register here
