extends layout

block content
  .main.container.text-xs-center
    h1.display-3 DigitalMe
    a.btn.btn-info-outline.btn-lg(href='/register') Register here
    br
    br
    a.btn.btn-info-outline.btn-lg(href='/login') Already registred? Login here